/* Style sheet */
/* Some styles borrowed from Bhargav Narayanan*/

html {
    height: 100.5%;
    margin: 0;
    padding: 0;
    }

body {
    margin: 0;
    padding: 0;
    font-family: Palatino, "Times New Roman", Times, serif;
    font-size: .65em;
    line-height: 1.8em;
    background-color: #FFF;
    text-align: center;
    min-width: 780px;
    }

#wrapper {
    position: relative;
    width: 780px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 75px;
    font-family: Palatino, "Times New Roman", Times, serif;
    text-align: left;
    }

a {
    color: #D12838;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-family: Palatino, "Times New Roman", Times, serif;
    }

a.image {
    color: white;
    text-decoration: none;
    font-family: Palatino, "Times New Roman", Times, serif;
    border: 0;
    }

a.image:hover
{
    color: white;
    text-decoration: none;
}

a:hover {
    color: #0047AB;
    
    }

a.invertLink { color: #1147AB; font-family: Palatino, "Times New Roman", Times, serif; font-size: 1.1em;}
a.invertLink:hover { color: #D12838;font-size: 1.1em;}

img
{
    border: 0; solid #444444;
}
h1 {
    display: block;
    width: 800px;
    height: 40px;
    text-align: center;
    font-family: Palatino;
    font-size: 3.0em;
    line-height: 1.2em;
    padding: 0 0 0 0;
    margin: 5px 5px 7px 0;
    color: #222222;

}
/* h1 presents the logo */ 

h1 img {
    border: 0;
    padding: 0;
    margin: 0;
}

h2 {
    padding: 21px 35px 5px 15px;
    margin: 10px 15px 0 0;
    font-size: 2.3em;
    font-style: italic;
    line-height: 1.2em;
    font-weight: normal;
    color: #333333;
}

h3 {
    width: 90%;
    padding: 15px 15px 7px 15px;
    margin: 0;
    font-size: 1.47em;
    line-height: 1.3em;
    font-variant: small-caps;
    font-weight: normal;
    color: #0047AB;
    color: #333333;
}

h3 span {
    font-size: .8em;
    text-transform: uppercase;
    color: #0047AB;
}

h4 {
    padding: 15px 15px 0 15px;
    margin: 0;
    font-size: .95em;
    line-height: 1em;
    font-weight: bold;
}

h4.title {
    padding: 3px 15px 5px 15px;
    margin: 0;
    font-size: 1em;
    line-height: 1em;
    font-weight: normal;
    font-style: italic;
    color: #666;
}

h5 {
    padding: 6px 15px 0 15px;
    margin: 0;
    font-size: 1em;
    line-height: 1em;
    font-weight: normal;
    font-style: italic;
    color: #333;
}

h6 {
    width: 90%;
    padding: 15px 15px 0px 15px;
    margin: 0;
    font-size: 1.37em;
    line-height: 1.0em;
    font-weight: bold;
    color: #0047AB;
    color: #333333;
}

h6 span {
    font-size: .8em;
    text-transform: uppercase;
    color: #0047AB;
}

p {
    padding: 5px 15px 5px 15px;
    margin: 0;
    color: black;
    font-family: Palatino, "Times New Roman", Times, serif;
    font-size: 1.3em;
    width: 95%;
    line-height: 1.6em
}

p.closer {
    padding: 0px 15px 0px 15px;
    line-height: 1.3em;
}

p.imageSpace {
    padding: 30px 15px 30px 15px;
    margin: 0;
}

ul {
    width: 90%;    
    font-size: 1.2em
}

ul li {
    padding: 2px 0 2px 0;
    margin: 0;

}


ul.tightList {
    /*padding-top: 5px;*/
    margin: 0;
  /*list-style-type: none;*/
}

ul.tightList li {
    padding: 0 0 0 0;
    margin: 1em;
  /*list-style-type: none;*/
}

ul.unbulletList li {
    padding: 0 0 0 0;
    margin: 1em;
    list-style-type: none;
}

span.listTitle {
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .1em;
}

/* NAVIGATION */

#navigation {
    width: 750px;
    padding: 20px 0px 20px 156px;
    margin: 0 auto;
    list-style-type: none;
    list-style-position: outside;
}

#navigation li {

    float: left;
    padding: 0 7px 5px 7px;
    margin: 0;
    font-size:1.4em;
}
 
#navigation li em {
    background-color: #FFFF00;

}

#navigation ul {
    padding: 0 0 0 10px;
    margin: 0;
    text-align: center;
    list-style-position: outside;
    list-style-type: disc;
    color: #CCC;
}

#navigation ul li {

    padding: 1px 0 1px 0;
    margin: 0;
}

#navigation ul ul {
    padding: 0;
    margin: 0;
    list-style-position: outside;
    list-style-type: disc;
    color: #CCC;
}

#navigation ul ul li {
    padding: 1px 0 1px 10px;
    margin: 0;
}

span {
    color: #000;
}



/* BODY */

#body {
    position: absolute;
    top: 180px;
    left: 60px;
    width: 750px;
    padding: 0;
    margin: 0;

}

